/* Header */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.015em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: black;
  letter-spacing: -0.015em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  letter-spacing: -0.015em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: -0.015em;
}

.navmenu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(27, 27, 27);
  justify-content: flex-end;
  letter-spacing: -0.015em;
}

.navtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(97, 97, 97);
  letter-spacing: -0.015em;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*Pages*/
.page-hero {
  height: 20vh;
  background-image: linear-gradient(to top, #e3e7e9 0%, #f7f7f7 90%);
  padding: 5%;
}
.page-herotitle {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: -0.015em;
  color: rgb(156, 156, 156);
}

/* .projects-images {
  height: 30vh;
} */
.projects-header {
  text-align: left;
  padding: 4% 0% 3% 1%;
  letter-spacing: -0.015em;
}
/*Card*/
.cardstyle:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Card look */
  transition: 0.3s;
  background-color: white;
  border-radius: 4px; /* Round corners */
  border-right: 5px solid rgba(211, 211, 211, 0.02);
}
.projects-link,
.projects-link:hover {
  text-decoration: none;
  color: black !important;
}
.cardtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.015em;
  color: rgb(177, 0, 153);
}
.cardtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.3rem;
  font-size: 1.1rem;
  letter-spacing: -0.015em;
  color: rgb(97, 97, 97);
}
.cardtext-focus {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.3rem;
  letter-spacing: -0.015em;
  color: rgb(177, 0, 153);
}
/* Footer */

.site-footer {
  height: 100vm;
  background: lightgray;
}
